<%- include('partials/header'); -%>

<div class="container">
  <div class="main">
    <h1 id="tittel-home">KICKSHUB</h1>
    <div class="links">
      <a href="/login">
        LOGIN
      </a>
      <a href="/admin">
        ADMIN PAGE
      </a>
    </div>

    <div class="headings">
      <h1>Råeste Produkter (TOPP 10):</h1>
      <div class="nut-container">
        <%if(productresult.length > 0){%>
          <%productresult.forEach(shoe => {%>
            <div class="product-cont">
              <h3><%=shoe.tittel%></h3>
              <p><b>MODELL:</b> <%=shoe.modell%></p>
              <p><b>MERKE:</b> <%=shoe.merke%></p>
              <p><b>PRIS:</b> <%=shoe.pris%>kr</p>
              <p><b>ARTIKKELNUMMER:</b> <%=shoe.artikkelnummer%></p>
              <button class ="delete" data-doc="<%=shoe._id%>" onclick="deleteTRASH('<%=shoe._id%>')">DELETE</button>
            </div>
          <%})%>
        <%}else{%>
          <p>THERES NOTHING TO DISPLAY</p>
        <%}%>
      </div>
  </div>
</div>

<script>
  
  function deleteTRASH(id) {
    const endpoint = `/${id}`;
    console.log(endpoint);
    fetch(endpoint, {
      method: "DELETE",
    })
    .then(response => response.json())
    .then(data => window.location.href = data.redirect)
    .catch(err => console.log(err));
  }
</script>


<%- include('partials/footer'); -%>