<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h1>Samling av produktene:</h1>
    <div class="nut-container">
      <%if(productresult.length > 0){%>
        <%productresult.forEach(shoe => {%>
          <div class="product-cont">
            <h3><%=shoe.tittel%></h3>
            <p><%=shoe.modell%></p>
            <p><%=shoe.merke%></p>
            <p><%=shoe.pris%>kr</p>
            <p><%=shoe.artikkelnummer%></p>
          </div>
        <%})%>
      <%}else{%>
        <p>THERES NOTHING TO DISPLAY</p>
      <%}%>
    </div>
</header>


<%- include('partials/footer'); -%>